.hvr-grow-shadow {
    -webkit-transform          : perspective(1px) translateZ(0);
    transform                  : perspective(1px) translateZ(0);
    box-shadow                 : 0 0 1px rgba(0, 0, 0, 0);
    transition-duration        : 0.3s;
    transition-property        : box-shadow, transform, height;

    &:hover,
    &:focus,
    &:active {
        box-shadow: 0px 15px 25px 0px rgb(0 0 0);
        transform : scale(1.1);
        height    : min(70vh, 37rem);
    }
}



.text-area {
    height             : 300px;
    width              : max(70vw, 400px);
    margin             : 2rem auto;
    overflow           : auto;
    word-break         : break-all;
    padding            : .5rem 1rem;
}